cplusplus
debugger
externaltools
fonts
generic-highlighter
glsl
json
modeleditor
qbs
qml
qmldesigner
qmlicons
qml-type-descriptions
QtProject
README.markdown
schemes
snippets
templates
themes
translations
welcomescreen

styles/dark.xml
styles/default.xml
styles/grayscale.xml
styles/inkpot.xml
styles/intellij.xml
